__pycache__/*
/.spyproject/*
.DS_store
*.pyc
*.py[cod]
*/Museum_315_patches/ART_kernel_*.mtx
*/Museum_315_patches/MoD-ART.csv
*/Museum_315_patches/MoD-ART extra.csv
*/Museum_464_patches/ART_kernel_*.mtx
*/Museum_464_patches/MoD-ART.csv
*/Museum_464_patches/MoD-ART extra.csv
*/Museum_648_patches/ART_kernel_*.mtx
*/Museum_648_patches/MoD-ART.csv
*/Museum_648_patches/MoD-ART extra.csv
*/Museum_648_patches/MoD-ART extra.csv.gz
